@media screen and (max-width: 650px) {
  body {
    padding: 0px;
    margin: 0px; }

  #myQuiz {
    width: 320px;
    background-size: 320px auto; }
    #myQuiz h1 {
      width: 300px;
      font-size: 1.3em;
      top: 25px;
      left: 25px; }
      #myQuiz h1 span {
        line-height: 43px; }
    #myQuiz h2 {
      margin: 0px; }
    #myQuiz h3 {
      font-size: 2.2em;
      margin-bottom: 15px; }
    #myQuiz .progress {
      width: 300px;
      top: 110px;
      left: 25px; }
      #myQuiz .progress div {
        width: 25px;
        height: 25px;
        margin-right: 20px; }
        #myQuiz .progress div::after {
          top: -30px;
          width: 53px;
          height: 33px; }
    #myQuiz .intro {
      width: 300px;
      top: 135px;
      left: 330px; }
    #myQuiz .question {
      width: 300px;
      top: 135px;
      left: 330px; }
      #myQuiz .question .txt {
        font-size: 1.4em;
        margin-bottom: 15px; }
      #myQuiz .question .ans {
        font-size: 1em;
        padding: 5px 10px;
        margin-bottom: 10px; }
        #myQuiz .question .ans .image {
          min-height: 45px;
          background-size: auto 45px; }
          #myQuiz .question .ans .image:hover {
            background-color: #000; }
    #myQuiz .results {
      width: 260px;
      top: 150px;
      left: 330px; }
      #myQuiz .results .share {
        margin-top: 20px; }
      #myQuiz .results a.btn {
        margin-bottom: 20px; }
    #myQuiz .active {
      left: 25px; }
    #myQuiz .intro.inactive, #myQuiz .inactive.answered {
      left: -650px; } }
